:root{
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: rgb(255, 255, 255);
    --heading-color: #292922;
    
}
[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
}

body{
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family:'Roboto',sans-serif !important;
    font-size: 2rem;
    
}
pre{
  font-family:'Roboto',sans-serif !important;
  margin: 0;
  padding: 0;
}
header{
    padding-top: 1em;
    text-align: center;
    height: 7em;
}

/*Simple css to style it like a toggle switch*/
.theme-switch-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
  }
  em {
      margin-left: 5px;
      font-size: .9rem;
    }
  .theme-switch {
    display: inline-block;
    height: 20px;
    position: relative;
    width: 50px;
  }
  
  .theme-switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 3px;
    content: "";
    height: 15px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 14px;
  }
  
  input:checked + .slider {
    background-color: #66bb6a;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.left-btn{
  display: inline-block;
  padding-right: 2em;
}
.right-btn{
  display: inline-block;
}

.reveal{
    display:inline-block;
    padding: .1em .5em;
    border:0.16em solid rgba(185, 3, 3, 0);
    border-radius: .2em;
    box-sizing: border-box;
    text-decoration:none;
    color:#FFFFFF;
    transition: all 0.3s;
    background-color: #9a4ef1;
    position: relative;
    font-size: .9em;
}
.reveal:hover{
    color:#ffffff;
    background-color:rgb(162, 68, 185);
}
.reveal:active{
    background-color:rgb(156, 33, 187);
    top: .1em;
    
}

main{
  width: 300px;
  height: 200px;
  margin: 0 auto;
}
#questions{
  text-align: center;
  height: 30px;
}
.buttons{
  padding-top: 100px;
  text-align: center;
}
.next{
  display:inline-block;
  padding: .1em .5em;
  border:0.16em solid rgba(185, 3, 3, 0);
  border-radius: .2em;
  box-sizing: border-box;
  text-decoration:none;
  color:#FFFFFF;
  transition: all 0.3s;
  background-color: #4CAF50;
  position: relative;
  font-size: .9em;
}
.next:hover{
  color:#ffffff;
    background-color:rgb(58, 139, 61);
}
.next:active{
  background-color: rgb(39, 97, 42);
    top: .1em;
}
#answers{
    display: none;
    padding-top: 3em;
    text-align: center;
}


@media only screen and (max-width: 400px) {
  body{ 
    font-size: 1.4em;
    
  }

  em {
    margin-left: 5px;
    font-size: .45rem;
  }
  .theme-switch{
    height: 10px;
    width: 30px;
  }
  .slider:before{
    height: 8px;
    width: 7px;
    left: 1px;
    bottom: .8px;
  }
  input:checked + .slider:before {
    transform: translateX(19px);
  }
  main{
    width: 175px;
  }
  .buttons{
    padding-top: 2em;
  }
  .left-btn{
    display: block;
    margin: 0 auto;
    padding: 1em 0;
  }
  .right-btn{
    display: block;
    margin: 0 auto;
    padding: 0;
  }
  .next{
    padding: 0.2em 1em;
    font-size: 1em;
  }
  .reveal{
    padding: 0.2em .8em;
    font-size: 1em;
  }
}